* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(photo_2026-08-24_20-58-07.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fff;
    width: 90%;
    max-width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-radius: 12px;
}

.ft {
    flex: 1;
    display: flex;
    flex-direction: column;


}

.sign-up {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;

}

.container .butto {
    width: 50%;
    padding: 5px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    font-size: 20px;
    transition: background 0.2;
    cursor: pointer;

}

.container .butto:hover {
    background-color: #f1f1f1;

}

.container2 {
    color: #777;
    text-align: center;
    cursor: pointer;
}

.container2 .a {
    text-decoration: underline;
    color: #444;
}

.hide {
    display: flex;
    justify-content: space-between;
    margin-left: 480px;
    color: #777;
    margin-top: -245px;
    font-size: 15px;
    cursor: pointer;

}

.form {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}

.form .one label {

    padding: 5px;
    color: #777;
    font-size: 15px;

}

.form .one input {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #d1d1d1;
}

.hi a {
    color: #333;
    margin-left: 375px;
}

.mah button {
    margin: 30px;
    padding: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    background-color: #777;
    border-radius: 30px;
    color: #fff;
    border: 1px solid #777;
    transition: background 0.2;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    outline: none;

}

.mah button:hover {
    background-color: #333;
}